.take-atten-2{
  position: absolute;
  top:549.06px;
  right: 877px;
  height:50px;
  width: 90px;
  /* background-color: red; */

  background-color: #061536;
  color: #b9c4d4;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  padding: 0px;
  border: 0px;
  outline: none;
}

.take-attendance-container {
  display: flex;
  width: 100%;
}
.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #eef1fa;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 18%;
  /* border: 1px solid black; */
  margin: 15px;
  background-color: #fafafa;
  border-radius: 30px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.14);
}
.top-bar-title {
  display: flex;
  gap: 0.7rem;
  flex-direction: column;
  /* color: black; */
  font-family: sans-serif;
  align-items: flex-start;
  padding: 15px;
  cursor: default;
}
.section-heading {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 32.3px;
}
.section-subtext {
  font-weight: 400;
  font-size: 16px;
  color: gray;
}
.top-bar-cameraCheck {
  background-color: #080c33;
  color: #eef1fa;
  padding: 10px;
  margin-right: 20px;
  border-radius: 50px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: default;
}

/* CENTER AREA */
.center-content-take-attendance {
  display: flex;
  justify-content: space-around;
  /* background-color: red; */
  background: transparent;
  margin-top: 20px;
  height: 100%;
}
.left-container {
  width: 65%;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.initialize-camera-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* justify-content: center; */
  align-items: center;
  width: 450px;
  height: 90%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.14);
}
.initialize-camera {
  background-color: #283546;
  color: #9babc0;
  height: 275px;
  width: 375px;
  margin-top: 40px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.take-attendance-btn {
  background-color: #061536;
  color: #b9c4d4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  padding: 18px;
  border-radius: 18px;
  cursor: pointer;
}
.subtext-section {
  display: flex;
  gap: 1.3rem;
  cursor: default;
}
.face-detect,
.face-recog {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  font-family: "Poppins", sans-serif;
}
.right-container {
  /* background-color: blue; */
  width: 35%;
  height: 90%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25.5px;
  margin-right: 15px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.14); /* padding: 10px; */
}
.howto-title {
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 0.9px;
  padding: 10px;
  cursor: default;
}
.right-gif{
  border-radius: 20px;
}
.username{
  width:100% !important;
  margin-left: 79px;
}
.right-userDetails{
  padding: 10px;
  margin-top: 10px;
  /* border: 2px dotted red; */
  height: 95px;
  /* margin-right: auto; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: .5rem;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  position: relative;
  right: 65px;
  /* overflow: hidden; */
  /* white-space:nowrap; */
  /* left: 0; */
  /* left: -100%; */
}


.typing-text {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black;
  font-family: 'Fira Mono', 'Consolas', monospace;
  animation: typing 2s steps(60, end) forwards, blink 0.7s step-end infinite;
  line-height: 2.1;
  font-weight: bold;
  font-size: 16px;
  /* padding-bottom: 4px; */
}

.typing-delay-1 {
  animation-delay: 0s;
  color: #140E32;
  width: 100%;
}

/* .typing-delay-2 {
  animation-delay: 2.2s;
  color: green;
}

.typing-delay-3 {
  animation-delay: 4.4s;
  color: blue;
} */

@keyframes typing {
  from { width: 0 }
  to { width: 200px; } 
}

@keyframes blink {
  0%, 100% { border-color: transparent; }
  50% { border-color: rgb(255, 255, 255); }
}


