.status-red{
    background-color: #f57070;
}

.highlight{
    color:white
}

.action-btns{
    display: flex;
    gap: 1rem;
    margin-right: -70px;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  